
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Đơn Hàng Của Quí Khách Đã Được Chúng Tôi Ghi Nhận. CHúng Tôi Sẽ LIên Hệ Quý Khách Trong Thời Gian Sớm Nhất Và Giao Hàng ĐÚng Hạn</h2>
<p>
    @Html.ActionLink("Về Trang Chủ","Index","Site")
</p>

