
    <style type="text/css">
        #datmua a{
            clear:both; background-color:red;
            color:white;width:120px;height:35px;
            display:block;float:right;text-align:center;
            padding-top:10px;text-decoration:none;font-weight:bold;
        }
        #datmua a:hover{
            background-color:gray;
            color:red;
        }
    </style>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Thông Tin Chi Tiết Sản Phẩm</h2>
<div>

 
        <div style="width:40%;float:left;border-left:dotted:1px;border-color:azure">
            <img src="~/Public/Images/@Model.Img" width="100%" />
        </div>
        <div style="width:60%;float:left;padding:10px">
            <h4 style="font-weight:bold;color:red">Tên Sách @Model.Name</h4>
            <p style="text-align:justify"><span style="font-weight:bold">Mô Tả</span>@Model.Detail</p>
            <p style="font-weight:bold">Giá Bán:<span style="color:red;font-size:16pt">@Model.PriceBuy</span></p>

          
        </div>
        <div id="datmua">
            <a href="@Url.Action("ThemGioHang","GioHang",new { @iMaSanPham = Model.Id, @strURL = Request.Url.ToString()  })" >Đặt Mua</a>
        </div>
    </div>

